includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    level: 5
    paths:
        - src/

    checkOctaneCompatibility: true
    checkModelProperties: true
    universalObjectCratesClasses:
        - Illuminate\Database\Eloquent\Model

    databaseMigrationsPath:
        - database/migrations

    viewDirectories:
        - resources/views

#    ignoreErrors:
#        - '#PHPDoc tag @var#'
#
#    excludePaths:
